<mat-card>
  <mat-card-header>
    <div mat-card-avatar><img src="{{employee.image}}"></div>
    <mat-card-title>{{employee.lastName}}, {{employee.firstName}}</mat-card-title>
    <mat-card-subtitle>Employee Id: {{employee.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <dl>
      <h4>Employee Information:</h4>
      <dt><strong>Job Title:</strong> {{employee.position}}</dt><br>
      <div *ngIf="employee.compensation">
        <dt><strong>Compensation:</strong> {{employee.compensation | currency}}</dt>
      </div>
    </dl>
    <div *ngIf="directReports; else elseBlock">
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Direct Reports: {{directReports}}</mat-panel-title>
            <mat-panel-description>
              Edit Direct Report Content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let emp of directReportEmployees">
              <div>{{emp.lastName}}, {{emp.firstName}}</div>
              <mat-divider></mat-divider>
              <div class="button-actions">
                <button mat-icon-button color="primary" aria-label="edit" (click)="openUpdateModal(emp, false)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="delete" (click)="openDeleteModal(emp)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <ng-template #elseBlock><br>
      No Direct Reports
    </ng-template>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" aria-label="delete" (click)="openDeleteModal(employee, true)">
      Remove Employee
    </button>
  </mat-card-actions>
</mat-card>


