<h1 mat-dialog-title>Update Compensation</h1>
<div mat-dialog-content>
  <p>{{employee?.firstName}} {{employee?.lastName}} Compensation</p>
    <mat-form-field>
        <mat-label>First Name:</mat-label>
        <input matInput disabled [(ngModel)]="employee.firstName">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Last Name:</mat-label>
        <input matInput disabled [(ngModel)]="employee.lastName">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Compensation:</mat-label>
        <input matInput type="number" [(ngModel)]="employee.compensation">
    </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="employee" cdkFocusInitial>Save</button>
</div>